.button{
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    padding: 0.1em 0.3em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    transition: background-color 0.2s ease;
}

.button:hover{
    background-color: var(--dark-green);
}

.general-text{
    color: var(--dark-green);
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-align: center;
}

.extra-info{
    color: var(--dark-green);
    font-family: var(--text-font-family);
    font-size: var(--info-font-size);
    font-weight: var(--info-font-weight);
}

.extra-info-light{
    color: var(--dark-green);
    font-family: var(--text-font-family);
    font-size: var(--info-font-size);
    font-weight: var(--info-font-weight-light);
    color: black;
    max-width: 40ch;
    text-align: center;
}

.placeholder{
    font-family: var(--text-font-family);
    font-size: var(--info-font-size);
    font-weight: var(--info-font-weight-light);
}

@media (max-width: 480px){
    .button{
    width: 90%;
    }
}