@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root{
    --dark-green: #003e1f;
    --red:#d90429;

    --text-font-family: sans-serif;
    --text-font-size: 2.5rem;   
    --text-font-weight: 600;

    --word-font-size: 2rem;
    --word-font-weight: 600;

    --button-font-family: "Alex Brush", sans-serif;
    --button-font-size: 3rem;
    --border-radius: 0.5rem;

    --info-font-size: 1.5rem;
    --info-font-weight: 500;


}

@media (max-width: 480px) {
  :root {
    --text-font-size: 1.8rem;
    --word-font-size: 1.5rem;
    --button-font-size: 2.2rem;
    --info-font-size: 1.2rem;
  }
}