body {
  background: linear-gradient(
    0deg, #73ba9b, #a3d5c3);
  font-family: sans-serif;
  height: 100vh;
}

.game-area{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  padding: 3rem;
  max-width: 1200px;
}

.stats-container{
  display: flex;
  gap: 2rem;
}

.hangman-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 600px;
}

.game{
  flex: 1;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px){

  .game-area{
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 1rem;
  }

  .hangman-container,
  .game {
    width: 100%;          
    max-width: 450px;     
    margin: 0 auto;       
  }

  .hangman-container {
    max-height: 250px;
  }

  .game{
  gap: 1rem;
}
}





