.word-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    font-size: var(--word-font-size);
    font-weight: var(--word-font-weight);
}

.underline{
    border-bottom: 0.2em solid var(--dark-green);
    width: 2.2ch;      
    min-width: 1ch;    
    max-width: 2.2ch;  
    display: flex;
    justify-content: center;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

@media (max-width: 480px){

.underline{
    width: 1.5ch;      
}

}

@media (max-width: 320px){

.underline{
    width: 1ch;      
}
}