.scoreboard{
    margin: 3rem auto;
    background-color: white;
    width: 90%;
    max-width: 700px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.scoreboard h1{
    margin-bottom: 0.5rem;
}

.scoreboard ul{
    list-style: none;
}

.scoreboard li {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 1rem;
    color: var(--dark-green);
    font-family: var(--text-font-family);
    font-size: var(--info-font-size);
    font-weight: var(--info-font-weight-light);
    color: #111;
}

.scoreboard ul:first-of-type li {
    border-bottom: 2px solid var(--red);
    text-transform: uppercase;
    color: var(--dark-green);
    font-size: var(--info-font-size);
    font-weight: var(--info-font-weight);
}

.playersList li {
  border-bottom: 1px solid #333;
  transition: all 0.2s ease;
}

.playersList li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--dark-green)
}

.playersList li:last-child {
  border-bottom: none;
}

.scoreboard p{
    text-align: center;
}

.loading{
    padding: 2rem;
}
