.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position : fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.scoreInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.modal-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modal-button-new-game{
    background-color: white;
    color: var(--red);
    border: 2px solid;
}

.modal-button{
    width: 70%;
}

.letterCounter{
    text-align: end;
    font-size: 0.75rem;
}

@media (max-width: 480px) {

.modal-content{
    padding: 2rem 1rem;
}

.modal-button{
    width: 100%;
}

}